.about-two {
  position: relative;
  display: block;
  padding: 120px 0 127px;
  &_col-5 {
    width: 43%;
    &_left {
      position: relative;
      display: block;
      margin-right: -26px;
      .section-title {
        margin-bottom: 48px;
        position: relative;
        display: block;
        margin-top: -9px;
        &__tagline {
          position: relative;
          display: inline-block;
          color: #a47c68;
          font-size: 16px;
          text-transform: uppercase;
          letter-spacing: 0.2em;
        }
        &___title {
          color: #ffffff;
          margin: 0;
          font-size: 40px;
          line-height: 48px;
          font-weight: 700;
          margin-top: 1px;
        }
        &_line {
          left: 0;
          position: absolute;
          bottom: -11px;
          transform: translateX(0);
          &::before {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 40px;
            content: "";
            background-color: #a47c68;
          }
          &::after {
            position: absolute;
            bottom: 0;
            left: 45px;
            height: 2px;
            width: 4px;
            content: "";
            background-color: #3c3531;
          }
        }
      }
      &_points {
        position: relative;
        display: flex;
        justify-content: space-between;
        overflow: hidden;

        &_boxLeft {
          position: relative;
          display: block;
          float: left;
          .pointsUl {
            position: relative;
            display: block;
            margin-bottom: 19px;
            &_liPoint {
              position: relative;
              display: flex;
              gap: 10px;
              align-items: center;
              -webkit-box-align: center;
              &_iconPo {
                position: relative;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                .check {
                  position: relative;
                  display: flex;
                  -webkit-box-align: center;
                  align-items: center;
                  font-size: 26px;
                  color: #a47c68;
                }
              }
              &_textPo {
                margin-left: 10px;
                &_Pop {
                  color: #ffffff;
                  font-size: 18px;
                  font-weight: 700;
                }
              }
            }
          }
          .tests-point {
          }
        }
        &_boxRight {
          position: relative;
          display: block;
          float: right;
          .pointsUl {
            position: relative;
            display: block;
            margin-bottom: 19px;
            &_liPoint {
              position: relative;
              display: flex;
              gap: 10px;
              align-items: center;
              -webkit-box-align: center;
              &_iconPo {
                position: relative;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                .check {
                  position: relative;
                  display: flex;
                  -webkit-box-align: center;
                  align-items: center;
                  font-size: 26px;
                  color: #a47c68;
                }
              }
              &_textPo {
                margin-left: 10px;
                &_Pop {
                  color: #ffffff;
                  font-size: 18px;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }
  }
  &_col-7 {
    width: 57%;
    flex: 0 0 auto;
    &_right {
      position: relative;
      display: block;
      margin-left: 240px;
      .img-box {
        position: relative;
        display: block;
        .img-1 {
          position: relative;
          display: block;
          border-top-right-radius: 80px;
          border-bottom-left-radius: 80px;
          border-bottom-right-radius: 80px;
        }
        .img-2 {
          position: absolute;
          top: 75px;
          left: -185px;
          border-top-left-radius: 80px;
          border-top-right-radius: 80px;
          border-bottom-left-radius: 80px;
        }
      }
    }
  }
  &__text-1 {
    font-size: 24px;
    color: #a47c68;
    font-weight: 500;
    line-height: 36px;
  }
}
