.newLetter {
  position: relative;
  display: block;
  z-index: 2;
  &__inners {
    position: relative;
    display: flex;
    background-color: #4c4b4a42;
    opacity: 10;
    padding: 73.5px 80px;
    -webkit-box-align: center;
    justify-content: space-between;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 1;
    align-items: center;
    -webkit-box-pack: justify;
    &_shapes1 {
      background-image: url("../../assests//images//newsletter-shape-1.png");
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      background-color: #4c4b4a42;
      background-blend-mode: color-dodge;
      opacity: 0.08;
      z-index: -1;
    }
    &_lefts {
      position: relative;
      display: block;
      &_title-new {
        font-size: 30px;
        color: #ffffff;
        font-weight: 500;
        line-height: 40px;
        margin-bottom: 3px;
      }
    }
    &_rights {
      position: relative;
      display: block;
      max-width: 500px;
      width: 100%;
      &_forms {
        position: relative;
        display: block;
        &_input-box {
          position: relative;
          display: block;
          &_input {
            height: 60px;
            max-width: 500px;
            width: 100%;
            border: none;
            outline: none;
            padding-left: 30px;
            padding-right: 170px;
            font-size: 16px;
            color: #aeadab;
            background-color: #ffffff;
            font-weight: 500;
            &::placeholder {
              font-size: 16px;
              color: #aeadab;
              font-weight: 500;
            }
          }
          &_button {
            position: absolute;
            top: 5px;
            bottom: 5px;
            right: 5px;
            border: none;
            line-height: 14px;
            padding: 15px 40px 15px;
            cursor: pointer;
            display: inline-block;
            vertical-align: middle;
            -webkit-appearance: none;
            outline: none !important;
            background-color: #f0e3cc;
            color: #112337;
            font-size: 14px;
            font-weight: 700;
            transition: all 0.5s linear;
            overflow: hidden;
            z-index: 1;
            &::after {
              position: absolute;
              content: "";
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 3px;
              background-color: #d25717;
              transition-property: all;
              opacity: 1;
              z-index: -1;
              transition-duration: 0.5s;
              transition-timing-function: ease-in-out;
              transition-delay: 0.1s;
            }
            &:hover:after {
              opacity: 1;
              transition-property: all;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
