.services {
  overflow: hidden;
  position: relative;

  &_iServices {
    width: 50%;
    height: 300px;
    background: #f2eeeb;
    z-index: -1;
    position: absolute;
    left: 0;
    color: #25333b;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    margin: 0 auto;
    line-height: normal;
    text-transform: uppercase;
    //top: 2%;
  }

  &_show {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    &_serTit {
      display: flex;
      flex-direction: column;

      justify-content: center;

      &_stavka {
        font-size: 30px;
        font-style: normal;
        font-weight: 900;
        margin: 0 auto;
        line-height: normal;
        text-transform: uppercase;
      }

      &_patty {
        font-size: 12px;
        margin: 0 auto;
        margin-top: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  &_bad {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding: 60px 0;

    &_double {
      width: 100%;
      height: auto;
      display: flex;
      gap: 35px;
      flex-wrap: wrap;

      position: relative;

      &_serviceAbout {
        width: 31%;
        height: 320px;
        background: white;
        color: #25333b;
        display: flex;
        padding: 30px 45px;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        gap: 30px;
        position: relative;

        transition: background 0.3s, color 0.3s;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #d25717; /* You can adjust the color */
          transition: transform 0.5s, opacity 0.5s;
          transform: scale(0); /* Start from scale 0 */
          z-index: 0;
          color: white;
          border-radius: inherit;
        }

        &:hover {
          color: white;
          transform: scale(1.05);

          &::before {
            transform: scale(1);
            opacity: 1;
          }

          .services_bad_double_serviceAbout_plus {
            transform: rotate(360deg);
            color: white;
          }
          &:hover {
            .services_bad_double_serviceAbout_seven.default-img {
              opacity: 0;
            }

            .services_bad_double_serviceAbout_seven.hover-img {
              opacity: 1;
            }
          }
        }

        &_plus {
          transition: transform 0.5s, color 0.5s;
          z-index: 2;
        }

        &_seven {
          width: 150px;
          padding: 5px;
          height: 150px;
          color: white;
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          top: 30px;
          left: 45px;
          object-fit: contain;
          transition: transform 0.3s ease;
          z-index: 2;
          &.default-img {
            opacity: 1;
          }

          &.hover-img {
            opacity: 0;
          }
        }

        &_laser {
          font-size: 26px;
          margin-bottom: 20px;
          margin-top:150px;
          color: inherit;
          font-weight: 900;
          font-style: normal;
          z-index: 2;
        }

        &_plus {
          display: flex;
          justify-content: right;
          text-align: right;
          float: right;
          transition: transform 0.5s, color 0.5s;
          z-index: 2;
        }
      }
    }
  }
}
@media only screen and (max-width: 430px){
  .services {
    &_iServices{
      width: 100%;
      height: 150px;
    }
    &_bad_double_serviceAbout_laser{
      margin-top: 10rem !important;
    }
    &_bad_double_serviceAbout_plus{
      display: none;
    }
  }
}
@media (max-width: 562px) {
  .services {
    &_bad {
      &_double {
        flex-direction: column;
        margin-top: 80px;

        &_serviceAbout {
          width: 90%;
          margin: 0 auto;
          margin-bottom: 50px !important;

          &_laser {
            margin-top: 50px;
          }
        }
      }

      &_double1 {
        flex-direction: column-reverse;
        margin-top: 80px;

        &_serviceAbout {
          width: 90%;
          margin: 0 auto;

          &_laser {
            margin-top: 50px;
          }
        }
      }
    }
  }
}

@media (max-width: 832px) {
  .services {
    &_bad {
      &_double {
        flex-direction: column;
        margin-top: 80px;

        &_serviceAbout {
          width: 90%;
          margin: 0 auto;
          margin-bottom: 50px !important;

          &_laser {
            margin-top: 50px;
          }
        }
      }

      &_double1 {
        flex-direction: column-reverse;
        margin-top: 80px;

        &_serviceAbout {
          width: 90%;
          margin: 0 auto;

          &_laser {
            margin-top: 50px;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .services {
    &_bad {
      &_double {
        flex-direction: column;
        margin-top: 80px;

        &_serviceAbout {
          width: 90%;
          margin: 0 auto;
          margin-bottom: 50px !important;

          &_laser {
            margin-top: 50px;
          }
        }
      }

      &_double1 {
        flex-direction: column-reverse;
        margin-top: 80px;

        &_serviceAbout {
          width: 90%;
          margin: 0 auto;

          &_laser {
            margin-top: 50px;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .services {
    &_bad {
      &_double {
        flex-direction: column;
        margin-top: 80px;

        &_serviceAbout {
          width: 90%;
          margin: 0 auto;
          margin-bottom: 50px !important;

          &_laser {
            margin-top: 50px;
          }
        }
      }

      &_double1 {
        flex-direction: column-reverse;
        margin-top: 80px;

        &_serviceAbout {
          width: 90%;
          margin: 0 auto;

          &_laser {
            margin-top: 50px;
          }
        }
      }
    }
  }
}

@media (max-width: 1120px) {
  .services {
    &_bad {
      &_double {
        flex-direction: column;
        margin-top: 80px;

        &_serviceAbout {
          width: 90%;
          margin: 0 auto;
          margin-bottom: 50px !important;

          &_laser {
            margin-top: 50px;
          }
        }
      }

      &_double1 {
        flex-direction: column-reverse;
        margin-top: 80px;

        &_serviceAbout {
          width: 90%;
          margin: 0 auto;

          &_laser {
            margin-top: 50px;
          }
        }
      }
    }
  }
}
@media (max-width: 1190px){
  .services_bad_double{
    gap: 30px;
  }
}