.gal-title{
  position: relative;

  max-width: 800px;
  margin: 60px auto 50px;
  text-align: center;
  .textGal{
    color: #50575e;
    font-family: 'Bitter', serif;
    font-size: 14px;
    font-style: italic;
    position: relative;
    line-height: 1.8em;
  }
}