// src/components/Language/style.scss
.lang-simple {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 600;

  .lang-item {
    cursor: pointer;
    color: #ffffff;
    transition: color 0.3s ease;
    font-size: 15px;

    &.active {
      color: #d25717;
    }

    &:hover {
      color: #a47c68;
    }
  }

  .divider {
    color: #ffffff;
    font-size: 15px;
  }
}
