.page-header {
  position: relative;
  display: block;
  padding: 144px 0 118px;
  z-index: 1;
  margin-top: -35px;
  .page-hero {
    background-image: url("../../assests/images/page-header-bg.jpg");
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      background-color: rgba(60, 53, 49, 0.6);
    }
  }
  &_innerHead {
    position: relative;
    display: block;
    text-align: center;
    z-index: 15;
    .bread-crumb {
      position: relative;
      display: flex;
      justify-content: center;
      gap: 10px;
      .li-pull {
        position: relative;
        display: inline-block;
        color: #c1b8b3;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        .breads {
          position: relative;
          display: inline-block;
          color: #c1b8b3;
          font-size: 12px;
          font-weight: 500;
          text-transform: uppercase;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
    .title-pages {
      font-size: 40px;
      color: #ffffff;
      font-weight: 900;
      line-height: 50px;
      margin-top: 10px;
    }
  }
}
