.contact {
  &-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #23282a;
    text-transform: uppercase;
    line-height: 1.8em;
    padding: 70px 0px 20px;
  }

  .descCon {
    position: relative;
    line-height: 1.8em;
    margin-bottom: 40px;
    font-size: 14px;
    font-family: 'Bitter', serif;
  }

  .row {
    display: flex;

    .col-4-cont {
      width: 33%;
      position: relative;
      min-height: 50px;
      margin-bottom: 25px;
      padding-left: 90px;

      .contI {
        width: 50px;
        font-size: 18px;
        height: 50px;
        background-color: #71b100 !important;
        color: #ffffff;
        border-radius: 50%;
        position: absolute;
        left: 15px;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .contIcon {
          width: 30px;
          font-size: 18px;
          height: 30px;
          line-height: 50px;
          color: #ffffff;


        }
      }

      .address {
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 0px;
        color: #000000;
        font-weight: 700;
      }

      .addDes {
        position: relative;
        line-height: 1.8em;
      }
    }
  }
  .contact-map{
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    height: 400px;
  }
  .default-section{
    background-image: url("../../assests/images/contact-bg.jpg");
    position: relative;
    padding: 70px 0 0;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;

    z-index: 3;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.85);
      z-index: 0;

    }
    .sectitle{
      position: relative;
      max-width: 800px;
      margin: 0 auto 50px;
      text-align: center;
      .formCont{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 25px;
        color: #23282a;
        text-transform: uppercase;
      }
      .contText{
        color: #50575e;
        font-family: 'Bitter', serif;
        font-size: 14px;
        font-style: italic;
        position: relative;
        line-height: 1.8em;
      }
    }
    .contact-form{
      margin-bottom: 60px;
      padding-bottom: 50px;
      position: relative;
      .rowForm{
        display: flex;
        justify-content: space-between;


        .colForm-4{
          width: 33%;
          position: relative;
          margin-bottom: 15px;
          .formInput{
            position: relative;
            display: block;
            width: 100%;
            line-height: 24px;
            padding: 9px 15px;
            border: 1px solid #d5d5d5;
            font-size: 14px;
            color: #252525;
            border-radius: 3px;
            outline-color: #71b100;
          }
        }
      }
      textarea{
        height: 180px;
        resize: none;
        position: relative;
        display: block;
        width: 100%;
        line-height: 24px;
        padding: 9px 15px;
        border: 1px solid #d5d5d5;
        font-size: 14px;
        color: #252525;
        border-radius: 3px;
      }
      .sendForm{
        background-color: #71b100;
        border: 2px solid #71b100 !important;
        border-radius: 3px;
        color: #ffffff !important;
        min-width: 100px;
        padding: 12px 50px;

        font-size: 11px;
        font-style: normal;
        line-height: 20px;
        position: relative;
        text-transform: uppercase;
       display: flex;
        margin: 50px auto;
        margin-bottom: 50px;
        transition: all 500ms ease 0s;
        &:hover{
          background-color: #ffffff !important;
          color: #71b100 !important;

        }
      }
    }
  }
}
