@import "../../assests/style/global";

.brand-one {
  position: relative;
  display: block;
  background: #ffffff;
padding: 14px 0 10px;
  z-index: 1;
  &_inner-partner {
    position: relative;
    display: block;
    border-bottom: 0px solid #e2ddda;
    // padding: 10px 0 60px;
    &_col-3 {
      width: 25%;
      flex: 0 0 auto;
      &_titles {
        position: relative;
        display: block;
       
        margin-top: 9px;
        font-size: 1.75rem;
      }
    }
    &_col-9 {
      width: 75%;
      flex: 0 0 auto;
      &_main-content {
        position: relative;
        display: block;
        margin-top: 15px;
        .swiper-slide {
            width: 150px !important;
          text-align: center;
          height: 80px;
          .imgH {
            width: 150px;
            height: 60px;
            display: flex;
            padding: 10px;
            background: white;
          }
          img {
            width: 150px !important;

            height: auto;
            object-fit: contain;
            opacity: 0.8;
            transition: all 0.3s ease;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1190px){
  .rows{
    flex-direction: column;
    .brand-one_inner-partner_col-9{
      width: 100%;
    }
    .brand-one_inner-partner_col-3{
      display: flex;
      margin: 0 auto;
    }
  }
}