.section-serves {
  .servies {
    position: relative;
    display: block;
    padding: 120px 0 90px;
    .row_one {
      display: flex;
      gap: 20px;
      align-items: center;

      .col-lg-4 {
        width: 33.33333333%;
        flex: 0 0 auto;

        &_one-single {
          position: relative;
          display: block;
          margin-bottom: 30px;
          z-index: 5;

          &_img {
            position: relative;
            display: block;
            overflow: hidden;
            z-index: 1;

            &::before,
            &::after {
              position: absolute;
              content: "";
              background-color: #3c3531;
              height: 0%;
              left: 0;
              right: 0;
              opacity: 0.8;
              z-index: 1;
              transition: all 500ms ease;
            }

            &::before {
              top: 0;
            }

            &::after {
              bottom: 0;
            }
          }

          // ✅ To‘g‘rilangan hover
          &:hover {
            .col-lg-4_one-single_img::before {
              height: 50%;
            }
            .col-lg-4_one-single_img::after {
              height: 50%;
            }
          }
          &_contents {
            position: relative;
            display: block;
            margin-top: -10px;
            border: 1px solid #878686;
            padding: 32px 39px 30px;
            transition: all 500ms ease;
            &__titles {
              font-size: 24px;
              font-weight: 700;
              line-height: 34px;
              color: #ffffff;
              margin-bottom: 2px;
            }
            &__texts {
            }
          }
        }
      }
    }
  }
}
