.footer{
  position: relative;
  background-color: #1a1d1f;
  .top-footer{
    padding-bottom: 20px;
    padding-top: 115px;
    .row{
      display: flex;
      .col-3{
        width: 25%;
        margin-bottom: 40px;

        .widget{
          margin-bottom: 30px;
          .footLog{
            width: 160px;
          }
        }
        .textWidget{
          color: #c1c1c1;
          font-size: 14px;
          line-height: 1.8em;
          font-family: 'Bitter', serif;
          font-style: italic;
        }
        .widget-title{
          font-size: 18px;
          font-weight: 600;
          line-height: 11px;
          margin-bottom: 40px;
          text-transform: uppercase;
          position: relative;
          color: rgba(255, 255, 255, 0.9);
        }
        .menuFooter{
          .two-footer{
            margin-bottom: 1rem;
            .two-item{
              color: #c1c1c1;
              margin-bottom: 0.8rem;
              font-size: 16px;
              transition: 0.5s;
              &:hover{
                color: #71b100;
                transition: 0.5s;
              }
            }
          }
        }
        .subscribe-area{
          margin-bottom: 20px;
          position: relative;
          .form-group{
            margin-bottom: 10px;
            .form-control{
              width: 100%;
              background-color: transparent;
              padding-left: 25px;
              padding-top: 25px;
              font-size: 18px;
              border: none;
              border-radius: 0;
              outline: none;
              border-bottom: 1px solid rgba(255, 255, 255, 0.6);
              color: #fff;
              &::placeholder{
                font-size: 18px;
              }
            }
            .emailIcon{
              position: absolute;
              left: 0;
              top: 70%;
              font-size: 18px;
              transform: translateY(-50%);
              font-weight: 600;
              color: rgba(255, 255, 255, 0.6);
            }
          }
          .sub-btn{
            color: #71b100;
            position: absolute;
            cursor: pointer;
            top: 20%;
            right: 0;
            height: 100%;
            font-size: 18px;
            width: 40px;
            border: none;
            transition: all 0.3s ease-in;
            background-color: transparent;
          }
        }
        .socials{
          display: flex ;
          gap: 15px;
          flex-wrap: nowrap;

          .footItem{
            margin: 0;
            display: block;
            padding: 20px 0 12px 0;
            text-align: center;
            border-radius: 5px;
            color: #c1c1c1;
            font-size: 18px;
            transition: 0.5s;
            &:hover{
              color: #71b100;
              transition: 0.5s;
            }
          }
        }
      }
    }
  }
}