@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  max-width: 100%;

  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #656d70;
  line-height: 1.8em;
  font-weight: 400;
  background: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-font-smoothing: antialiased;
}
.scrollToHome{
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  color: #71b100;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  z-index: 99;
  font-size: 25px;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  &:hover{
    color: #fff;
    background: #71b100;
  }
}
/* Scrollbar container */
::-webkit-scrollbar {
  width: 10px; /* kengligi */
}

/* Scrollbar track (foni) */
::-webkit-scrollbar-track {
  background: #71b100; /* fon rangi */
}

/* Scrollbar thumb (scrollbarning tutib olinadigan qismi) */
::-webkit-scrollbar-thumb {
  background: #71b100; /* thumb rangi */
  border-radius: 6px; /* radius qo'shish */
}

/* Scrollbar thumb ustiga hover bo'lganda */
::-webkit-scrollbar-thumb:hover {
  background: #71b100; /* hover qilinganda thumb rangi */
}




a {
  text-decoration: none;
  cursor: pointer;

}

a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
}
li{
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  margin: 0px;
  background: none;
  line-height: 1.8em;
}

input,
button,
select,
textarea {
  font-family: "Montserrat", sans-serif;
}
.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
  &::before {
    display: table;
    content: " ";
  }
}

.small-container {
  max-width: 1030px;
}
.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
}
