.green{
  .intro-section{
    position: relative;
    padding: 30px 0 50px;
    background: #71b100;
    color: #ffffff;
    .outer-box{
      position: relative;
      padding-left: 300px;
      .anim-image{
        position: absolute;
        left: 0;
        top: 0;
        .dream{
          width: 180px;
          height: 80px;
        }
      }
     .dis{
       display: flex;
       align-items: center;
       .col{
         width: 70%;
         position: relative;
         min-height: 1px;
         padding-right: 15px;
         padding-left: 15px;
         .ps{
           margin-top: 15px;
           font-size: 14px;
           padding-left: 20px;
           border-left: 3px solid #ffffff;
         }
       }
       .col-2{
         width: 25%;
         position: relative;
         min-height: 1px;
         padding-right: 15px;
         padding-left: 15px;
         text-align: right;
         .style-btn{
           position: relative;
           line-height: 20px;
           text-transform: uppercase;
           display: inline-block;
           background: none;
           color: #ffffff !important;
           font-size: 11px;
           border: 2px solid #ffffff !important;
           &:hover{
             background-color: #ffffff !important;
             color: #71b100 !important;
           }
         }
         .theme-btn{
           margin-top: 18px;
           padding: 10px 25px;
         }
       }
     }
    }
  }
}