@import "../../assests/style/global";
.message {
  padding: 30px 0;
  margin-top: 3%;
  background: #065ea9;

  .contact-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      width: 100%;
      max-width: 326px;
      color: #fff;
      font-size: 1.5rem;
    }

    form {
      display: flex;
      gap: 20px;

      input {
        display: block;
        width: 300px;
        max-width: 500px;
        padding: 12px 16px;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid #ececec;
        border-radius: 15px;
        color: #fff;
        outline: none;

        &::placeholder {
          color: #fff;
        }
      }

      button {
        display: inline-block;
        padding: 12px 22px;
        color: #065ea9;
        font-weight: 500;
        background: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 16px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          color: #fff;
          background: #065ea9;
        }
      }
    }
  }
}

// Custom styles for Toastify success icon
.Toastify__toast-container {
  .Toastify__toast--success {
    .Toastify__toast-icon {
      svg {
        fill: #065ea9; // Change the icon color
        width: 24px;   // Adjust the icon size
        height: 24px;
        animation: bounce 0.5s; // Add animation if desired
      }
    }
  }
}

// Keyframe animation for bounce effect
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
@media (max-width:$breakpoint-xl) {
  .message {
    .contact-inner {
      padding: 20px;
      gap: 20px;


    }
  }
}
@media (max-width:$breakpoint-lg) {
  .message {
    .contact-inner {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      h3{
        display: flex;
        margin: 0 auto;
        padding-top: 20px;
      }
      form {
        width: 100%;
        align-items: flex-start;
        display: flex;
        margin: 0 auto;
        justify-content: center;

        input {
          width: 100%;
        }

        button {
          width: 100%;
          max-width: 125px;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .message {
    padding: 20px;

    .contact-inner {
      h3{
        display: flex;
        margin: 0 auto;
        padding-top: 20px;
      }
      form {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;

        input {
          max-width: 450px;
        }

        button {
          max-width: 450px;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-sm) {
  .message {
    padding: 20px;

    .contact-inner {
      h3{
        display: flex;
        margin: 0 auto;
        padding-top: 20px;
      }
      form {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;

        input {
          max-width: 450px;
        }

        button {
          max-width: 450px;
        }
      }
    }
  }
}
